################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment6/v16
/Assignment6/obj/Debug/netstandard2.1
/Assignment6/obj/Assignment6.csproj.nuget.cache
/Assignment6/obj
